.metadata
WorklightServerConfig

#first level ignore-list
GitTrail/.settings
GitTrail/bin
GitTrail/components
GitTrail/services
GitTrail/.classpath
GitTrail/.project

#for android environment
#fourth level ignore-list
GitTrail/apps/Team/android/css
GitTrail/apps/Team/android/images
GitTrail/apps/Team/android/js
GitTrail/apps/Team/android/nativeResources

#fifth level ignore-list
GitTrail/apps/Team/android/native/.externalToolBuilders
GitTrail/apps/Team/android/native/.idea
GitTrail/apps/Team/android/native/.settings
GitTrail/apps/Team/android/native/assets
GitTrail/apps/Team/android/native/bin
GitTrail/apps/Team/android/native/gen
GitTrail/apps/Team/android/native/libs
